/* CSS */

@font-face{
    font-family: 'Montserrat-Bold';
    src: url(/font/Montserrat-Bold.ttf) format('opentrue'),
     url(/font/Montserrat-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Nunito-ExtraLight';
    src: url(/font/Nunito-ExtraLight.ttf) format('opentrue'),
     url(/font/Nunito-ExtraLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 2.5rem;
}

@font-face{
    font-family: 'Nunito-Bold';
    src: url(/font/Nunito-Bold.ttf) format('opentrue'),
     url(/font/Nunito-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 2.5rem;
}

@media screen and (min-width: 41.6875rem) {

    body{
        background-color: #E1FDEB;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
.personal-image { grid-area: 2 / 2 / 4 / 3; }
.dados { grid-area: 2 / 3 / 5 / 7; }
.menu { grid-area: 7 / 2 / 12 / 7; }

.personal-image input[type="file"] {
    display: none;
}

.nome{
    font-family: 'Nunito-Bold';
    font-size: 3.125rem;
}

.elementos{
    font-family: 'Nunito-Bold';
    font-size: 1.875rem;
}

.tabela{
    padding: 10px;
    border-spacing: 10px;
}

.table1{
    margin-right: -10px;
}

.table{
    margin-right: -10px;
}

.data{
    text-align: end;
}

.status ul{
    font-family: 'Nunito-Bold';
    font-size: 1.875rem;
    list-style: none;
}

.menu{
    display: ;
    border-style: solid;
    border-color: red;
}

}